.root {
  padding: 2rem;
  margin: 1rem;
  min-width: 300px;
  border-radius: 0.5rem;
  border: 1px solid #eff1f5;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  text-align: left;
  text-decoration: none;
  color: inherit;

  transition: color 0.15s ease, border-color 0.15s ease;
  cursor: pointer;
  user-select: none;
}

.root:not(.disabled):hover,
.root:not(.disabled):focus,
.root:not(.disabled):active {
  border: 1px solid rgba(127, 86, 217, 0.4);
  background: #f9f5ff;
  box-shadow: 0px 4px 6px -2px rgba(5, 11, 73, 0.03),
    0px 12px 16px -4px rgba(5, 11, 73, 0.08);
}

.root.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.4);
}

.root.disabled h4 {
  color: rgba(0, 0, 0, 0.4);
}

.root .title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.arrow-right {
  background-image: url('/arrow-right-default.svg');
  width: 24px;
  height: 24px;
}

.root:not(.disabled):hover .arrow-right,
.root:not(.disabled):focus .arrow-right,
.root:not(.disabled):active .arrow-right {
  background-image: url('/arrow-right-active.svg');
}

.root:not(.disabled):hover h4,
.root:not(.disabled):focus h4,
.root:not(.disabled):active h4 {
  color: var(--color-primary);
}

.root h4 {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.root p {
  margin: 0;
}
