.header {
  display: flex;
  padding: 1rem 2rem 1.4rem 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vw;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
}

.header nav {
  margin-top: 4px;
}

.container {
  min-height: 100vh;
  margin: auto;
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .header {
    margin-bottom: 2rem;
  }
  .container {
    min-width: 400px;
  }
}
