:root {
  --color-default: #5d6b98;
  --color-primary: #53389e;
  --color-text-link: #2e90fa;
}

html,
body {
  line-height: 24px;
  font-size: 16px;
  color: var(--color-default);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 3rem;
  line-height: 120%;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  line-height: 130%;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 600;
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 1rem;
  }
}
